flask==1.1.2
gunicorn==20.0.4
jstyleson==0.0.2
schema==0.7.2
kitchen==1.2.6
psycopg2-binary==2.8.5
networkx==2.4
python-intervals==1.10.0.post1
rdflib==5.0.0
requests==2.23.0
unidecode==1.1.1
xmltodict==0.12.0
urllib3==1.25.9
