flask==1.1.2
flask-cors==3.0.10
flask-compress==1.9.0
flask-pyoidc==3.7.0
gunicorn==20.0.4
jstyleson==0.0.2
schema==0.7.4
kitchen==1.2.6
psycopg2-binary==2.8.6
networkx==2.5
python-intervals==1.10.0.post1
rdflib==5.0.0
requests==2.25.1
unidecode==1.2.0
xmltodict==0.12.0
urllib3==1.26.4
anytree==2.8.0
sparqlwrapper==1.8.5
