$yellow: #efc501;
$primary: $yellow;
$container-max-widths: (lg: 1500px);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.vue-form-wizard {
  .wizard-btn {
    color: $dark !important;
  }
}

.octicon[role="button"] {
  transition: .3s transform ease-in-out;

  &.collapsed {
    transform: rotate(-90deg);
  }
}
