$yellow: #efc501;
$primary: $yellow;
$info: #0c8c75;
$container-max-widths: (lg: 1500px);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.vue-form-wizard {
  .wizard-btn {
    color: $dark !important;
  }
}

.octicon[role="button"] {
  transition: .3s transform ease-in-out;

  &.collapsed {
    transform: rotate(-90deg);
  }
}

div#app::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 264px;
  background-color: #333;
  background-image: url(/static/images/bg-trade01.jpg);
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
  left: 0;
}

.vue-form-wizard {
  .wizard-title {
    color: #efc501!important;
    font-size: 3.2rem;
  }

  .wizard-tab-content {
    margin-top: 86px!important;
  }

  .wizard-icon-circle {
    background-color: #0c8c75!important;
  }

  .wizard-icon-circle.square_shape {
    border-radius: 2px!important;
  }

  .wizard-nav-pills>li>a {
    color: rgba(0, 0, 0, 0.6)!important;

    .stepTitle {
      color: #efc501bd!important;
      text-shadow: 5px 5px 5px #000!important;
      font-size: 1.4rem!important;
    }
  }

  .wizard-card-footer {
    padding: 20px!important;
    background-color: #333;
    background-image: url(/static/images/bg-trade01.jpg);
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: cover;
    margin-top: 20px;
  }
}

.modal-dialog-scrollable {
  .modal-header {
    color: $primary !important;
    background-color: $info !important;
  }
}
