$yellow: #efc501;
$primary: $yellow;
$info: #0c8c75;
$light: #eff1f3;
$border-color: #adb5bd;
$container-max-widths: (lg: 1500px);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.vue-form-wizard {
  .wizard-btn {
    color: $dark !important;
  }
}

.fa-chevron-down[role="button"] {
  transition: .3s transform ease-in-out;

  &.collapsed {
    transform: rotate(-90deg);
  }
}

div#app::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 264px;
  background-color: #333;
  background-image: url(/static/images/bg-trade01.jpg);
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
  left: 0;
}

.bg-primary-light {
  background-color: #f5ecc1 !important;
}

.bg-info-light {
  background-color: #c8eae4 !important;
}

.vue-form-wizard {
  .wizard-title {
    color: #efc501 !important;
    font-size: 3.2rem;
  }

  .wizard-tab-content {
    margin-top: 40px !important;
  }

  .wizard-icon-circle {
    background-color: #0c8c75 !important;
  }

  .wizard-icon-circle.square_shape {
    border-radius: 2px !important;
  }

  .wizard-icon-container {
    background-color: inherit !important;
  }

  .wizard-nav-pills > li > a {
    color: rgba(0, 0, 0, 0.6) !important;

    .stepTitle {
      color: #efc501bd !important;
      text-shadow: 5px 5px 5px #000 !important;
      font-size: 1.4rem !important;
    }
  }

  .wizard-card-footer {
    padding: 20px !important;
    background-color: #333;
    background-image: url(/static/images/bg-trade01.jpg);
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: cover;
    margin-top: 20px;

    button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.modal-dialog {
  .modal-header {
    color: $primary !important;
    background-color: $info !important;
  }
}

.align-items-center {
  h2, h3, h4, h5,
  .h2, .h3, .h4, .h5 {
    margin: 0;
  }
}

div.is-invalid {
  @extend .border;
  @extend .border-danger;

  &.bg-white {
    background-color: mix($danger, $light, 10%) !important;
  }
}

.bg-success {
  background-color: #d8edd8 !important;
}

.bg-danger {
  background-color: #ffcfc4 !important;
}

.property-resource, .property-path, .property-value {
  @extend .col-auto;
  @extend .btn;
  @extend .rounded-pill;
  @extend .py-0;
  @extend .my-1;
}

.property-resource {
  @extend .border;
  @extend .border-info;
  @extend .bg-white;
}

.property-path {
  @extend .bg-info;
  @extend .text-white;
}

.property-value {
  @extend .border;
  @extend .border-info;
  @extend .bg-white;
  @extend .text-info;

  user-select: text;
  word-break: break-all;
}

.btn, [role="button"], .clickable {
  &:not(.read-only) {
    cursor: pointer;
  }
}

.small {
  font-size: 0.9rem;
}