$primary: #efc501;
$secondary: #0c8c75;
$light: #eff1f3;
$primary-very-light: mix($primary, $light, 15%);
$secondary-very-light: mix($secondary, $light, 10%);
$component-active-bg: $secondary;
$custom-control-indicator-checked-disabled-bg: rgba($secondary, .5);
$border-color: #adb5bd;
$zindex-fixed: 50;
$zindex-sticky: 50;
$container-max-widths: (lg: 1500px);
$vs-state-active-bg: $secondary-very-light !important;
$vs-state-active-color: inherit;
$vs-component-placeholder-color: lightgrey;
$themeColor: $secondary;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import "~vue-select/src/scss/vue-select.scss";
@import '~vue-slider-component/lib/theme/default.scss';
@import '~vue-form-wizard/dist/vue-form-wizard.min.css';

.container {
  min-width: 1500px;
}

.vue-form-wizard {
  .wizard-btn {
    color: $dark !important;
  }
}

.vue-slider-rail {
  height: 4px;
}

.vue-slider-dot-tooltip-inner {
  font-size: 0.8em;
}

.fa-chevron-down {
  transition: .3s transform ease-in-out;

  &.collapsed {
    transform: rotate(-90deg);
  }
}

.ext_cyc {
  color: purple;
}

.ext_yes {
  color: blue;
}

.ext_no {
  color: red;
}

.absolute-handle {
  position: absolute;
  top: 8px;
  left: 8px;
}

div#app::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 264px;
  background-color: #333;
  background-image: url(/static/images/bg-trade01.jpg);
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
  left: 0;
}

.bg-primary-light {
  background-color: #f5ecc1 !important;
}

.bg-secondary-light {
  background-color: #c8eae4 !important;
}

.bg-opacity {
  background-color: rgba(255, 255, 255, 0.4);
}

.form-check-label {
  margin-bottom: -0.2rem;
}

.form-group {
  margin-bottom: 0;
  align-items: center;
}

.col-export {
  flex: 0 0 28%;
  max-width: 28%;
}

.col-export-rdf {
  flex: 0 0 40%;
  max-width: 40%;
}

.v-select {
  min-width: 250px;
}

.w-number {
  min-width: 30px;
}

.w-text {
  width: 200px !important;
}

.w-small-text {
  width: 50px !important;
}

.w-large-text {
  width: 250px !important;
}

.tags-size {
  width: 400px !important;
}

.vs__dropdown-menu {
  width: auto !important;
}

.vs__dropdown-toggle {
  background-color: white;
}

.vue-form-wizard {
  .wizard-title {
    color: #efc501 !important;
    font-size: 3.2rem;
  }

  .wizard-tab-content {
    margin-top: 40px !important;
  }

  .wizard-icon-circle {
    background-color: #0c8c75 !important;
  }

  .wizard-icon-circle.square_shape {
    border-radius: 2px !important;
  }

  .wizard-icon-container {
    background-color: inherit !important;
  }

  .wizard-nav-pills > li > a {
    color: rgba(0, 0, 0, 0.6) !important;

    .stepTitle {
      color: #efc501bd !important;
      text-shadow: 5px 5px 5px #000 !important;
      font-size: 1.4rem !important;
    }
  }

  .wizard-card-footer {
    padding: 20px !important;
    background-color: #333;
    background-image: url(/static/images/bg-trade01.jpg);
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-size: cover;
    margin-top: 20px;

    button:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.align-items-center {
  h2, h3, h4, h5,
  .h2, .h3, .h4, .h5 {
    margin: 0;
  }
}

.is-invalid {
  &:not(.v-select):not(.invalid-feedback) {
    @extend .border;
    @extend .border-danger;
  }

  &.v-select .vs__dropdown-toggle {
    @extend .border;
    @extend .border-danger;
  }

  &.bg-white {
    background-color: mix($danger, $light, 10%) !important;
  }
}

.bg-success {
  background-color: #d8edd8 !important;
}

.bg-danger {
  background-color: #ffcfc4 !important;
}

.bg-warning {
  background-color: #fff3cd !important;
}

.btn, [role="button"], .clickable {
  &:not(.read-only) {
    cursor: pointer;
  }
}

.small {
  font-size: 0.9rem;
}

.smaller {
  font-size: 0.8rem;
}

.text-break-all {
  word-break: break-all;
}

.pointer {
  cursor: pointer;
}

.right {
  position: absolute;
  right: 0;
}

.max-overflow {
  max-height: 300px;
  overflow: auto;
}

.invalid-feedback {
  &.inline-feedback {
    width: auto;
    margin-top: 0;
  }

  &.is-invalid {
    display: block;
  }
}

.modal-header .close.modal-header-close {
  margin: -1rem -1rem -1rem 0;
}

.striped-container .striped:nth-of-type(even),
.vs__dropdown-menu .vs__dropdown-option:nth-of-type(even) {
  background-color: mix($secondary, $light, 5%);
}

ul.inline-list li {
  list-style: none;
  float: left;
}

ul.inline-list li:not(:first-child):before {
  content: '•';
  margin: 0 0.5em;
  color: black;
}

.config-group {
  position: relative;
  padding: 0.25rem 0;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.main-card {
  @extend .position-relative;
  @extend .bg-light;
  @extend .border;
  @extend .p-4;
  @extend .mt-4;

  .card-title-input {
    font-size: 2rem;
    height: 2.5rem;
    box-shadow: none;
  }
}

.sub-card {
  @extend .bg-white;
  @extend .border;
  @extend .p-3;

  &.small-card {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.link-scroll {
  scroll-margin: 240px;
}

.property {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 3em;

  .vs__search {
    line-height: 1;
    font-size: 0.9em;
  }

  .first-el {
    margin-left: -3em;
  }

  .property-collapse,
  .property-collapse-open,
  .property-collapse-close {
    &.hide {
      display: none;
    }
  }

  .property-pill {
    @extend .btn;
    @extend .border;
    @extend .border-secondary;
    @extend .rounded-pill;
    @extend .text-break-all;
    @extend .user-select-auto;

    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0.25rem;

    &.sm {
      @extend .btn-sm;
    }

    &.read-only {
      cursor: auto !important;
    }
  }

  .property-pill:last-child, .property-part:last-child {
    margin-right: 0;
  }

  .property-part {
    margin: 0 0.25rem;
  }

  .property-resource {
    @extend .bg-white;
  }

  .property-prop {
    @extend .bg-secondary;
    @extend .text-white;
  }

  .property-alias {
    @extend .border-secondary;
    @extend .bg-warning;
    @extend .font-italic;
    @extend .text-secondary;
  }

  .property-download {
    font-size: 0.9em;

    @extend .border-warning;
    @extend .bg-warning;
    @extend .font-italic;
    @extend .text-dark;
  }

  .property-values {
    flex-shrink: 1;
    padding: 0;
    margin: 0 0.25rem;

    @extend .text-secondary;
  }
}

.info-block {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  text-align: center;
  min-width: 85px;

  @extend .border;
  @extend .border-secondary;
  @extend .text-secondary;
  @extend .bg-secondary-light;
}

.modal-full-size {
  max-width: 100%;
  margin-left: 1.75rem;
  margin-right: 1.75rem;

  .modal-body {
    padding: 0;
  }
}

.modal-full-height, .modal-full-size {
  .modal-content {
    height: calc(100vh - 3.5rem);
  }
}

